<nav class="bg-gray-800 text-white p-4">
  <div class="flex justify-between items-center">
    <h1 class="m-0 text-xl font-semibold">DevCollab</h1>
    <ul class="flex list-none m-0 p-0 space-x-4">
      <li>
        <a href="#" class="text-white no-underline hover:underline">Home</a>
      </li>
      <li>
        <a href="#" class="text-white no-underline hover:underline">About</a>
      </li>
      <li>
        <a href="#" class="text-white no-underline hover:underline">Contact</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
